gen/
build/
generated/
gradle/
output/
out/
.idea/
.gradle/
gradlew
gradlew.bat
*wiki/
bin/
armeabi*/
obj/
.metadata/
*.cmake
*.log
CMakeCache.txt
*.o
CMakeFiles/
*.sublime-*
*.jdb
.factorypath
.classpath
local.properties
crawl/
.DS_Store
.apt_generated/
.settings/
proguard_logs/
proguard/
classes/
.project

*.iml

*.apk
